<h3><%=flash[:already_logged_in]%></h3>
<h3><%=flash[:not_user]%></h3>

<h1>Recipes List:</h1>
<%if @recipes%>
    <%@recipes.each_with_index do |recipe, index|%>
       <%=index + 1%>. <a href="/recipes/<%=recipe.id%>"><%=recipe.name%><br></a>
     Added by: <%=recipe.user.username%>
   <br></br>
  <%end%>
<%end%>
